*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 0;
}

th {
    text-align: left;
    font-weight: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

button {
    background-color: transparent;
}

[type="text"],
[type="search"],
[type="url"],
[type="password"],
[type="tel"],
[type="email"],
[type="number"],
[type="time"],
[type="date"],
[type="month"],
[type="datetime"],
[type="datetime-local"],
textarea {
    -webkit-appearance: none;
}

/* ------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

h1 {
    margin-bottom: 4px;
    font-size: 18px;
}

h2 {
    font-size: 12px;
    color: #c2c9d5;
}

@keyframes correctCheck {
    0% {

    }
    100% {
        background: #9ede3b;
        border: 1px solid #9ede3b;
        color: #fff;
    }
}

@keyframes incorrectCheck {
    0% {

    }
    100% {
        background: #c90c0c;
        border: 1px solid #c90c0c;
        color: #fff;
    }
}

/* TODO ----

custom css properties - spacing, colors

*/