.listitem {
    margin: 0 -12px;
    padding: 24px 12px;
    cursor: pointer;
}

.listitem:hover {
    border-radius: 4px;
    box-shadow: 0 3px 16px rgba(31, 46, 74, 0.12);
    background-color: rgba(255, 255, 255, 0.67);
}

.listitem-active {
    border-radius: 4px;
    box-shadow: 0 3px 16px rgba(31, 46, 74, 0.12);
    background-color: #fff;
}
